@import '../../common';

h2,
h3,
.filterBlock {
  margin: 8px 0;
}

.row {
  display: flex;
  flex-direction: row;

  paper-checkbox,
  paper-radio-button {
    flex: 0 0;
  }

  &.inline {
    display: inline-flex;
  }
}

.col {
  display: flex;
  flex-direction: column;

  paper-checkbox,
  paper-radio-button {
    flex: 0 0;
  }
}

.inline {
  display: inline-block;
}

paper-radio-button {
  margin: 0 8px;
  --paper-radio-button-label: {
    white-space: nowrap;
  }
}

paper-checkbox {
  margin: 0 8px;
  --paper-checkbox-label: {
    white-space: nowrap;
  }
}

paper-dropdown-menu {
  margin-top: -8px;
}
